* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    padding: 0;
    margin: 0;
}  

.container {

    display: flex;    
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
     background-color: #ffff;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    padding: 22px 14px;
}

.but1{
    font-weight: 500;
    padding: 16px 10px;
    width: 109px ;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 999px;
    cursor: pointer;
    
}
main{
background-color: #00A1FC;
    width: 100%; 
    min-height: 821px;
    padding: 120px 116px;
    
}
.main-content{
   
    color: #ffff;
    display:flex;
    justify-content: space-between;
 
}    
.porto-img{
    width: 120px;
    height: 120px;
}
.section-content{
    font-size: 50px;
    font-weight: 600;
    width: 592px;
    min-height: 352px;
    display: flex;
    flex-direction: column;
    text-align:start;
}
.check{
    width: 15px;
    height: 12px;


}