* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    padding: 0;
    margin: 0;
}  

.container {

    display: flex;    
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
     background-color: #ffff;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
}

.but1{
    font-weight: 500;
    padding: 16px 10px;
    width: 109px ;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 999px;
    cursor: pointer;
    
}
main{
background-color: #00A1FC;
    
}


